


.signInBtn{
    background-color: red;
    text-align: center;
    max-width: 180px;
    padding:10px 10px;
    border-radius: 4px; 
    color:white;
    margin: 10px 5px;
   font-weight: 400;
   cursor: pointer;
   transition:padding .5s
}
.signInBtn:hover{
    padding:10px 14px;
}